h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
    color: azure;
    padding: 30px;
}
hr{
    border: 2px solid black;
    width: 50%;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 70px;
}
img{
    margin-left: 500px;
}
